# write your settings!

# for rbenv
# set -x PATH $PATH $HOME/.rbenv/bin
# source (rbenv init - | psub)

# for pyenv
# set -x PYENV_ROOT $HOME/.pyenv
# set -x PATH $PATH $PYENV_ROOT/bin
# source (pyenv init - | psub)
